/.cache/
/auto-save-list/
/config.el
/elpa/
/eshell/
/history
/package-quickstart.el
/projects
/tramp
/transient/
/undo/
/places
/package-quickstart.elc
/eln-cache/
/*.eld
/.lsp-session-v1
/straight/*.el
/straight/build/
/straight/repos/
/straight/modified/
/recentf
*.cache
